@import "./variables";

body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/abstract-antique-backdrop-background-129731.jpg);
  background-size: auto;
  font-family: Varela Round;
  color: rgb(43, 8, 43);
}

.contentbox {
  background-color: $RaginBeige;
  padding: 1.5rem;
  margin: 0 22rem;
}
.homepage,
.page404 {
  border-radius: 7px;
  background-color: $RaginBeige;
  margin: 1.75rem 22rem;
  padding: 1rem;
  min-height: 50rem;
  input {
    margin: 1rem 0 0 3rem;
    padding: 0.5rem 0.5rem;
    min-width: 22rem;
  }
}
.detailspage {
  border-radius: 7px;
  background-color: $RaginBeige;
  margin: 1.75rem 22rem;
  padding: 2rem 3.5rem;
  min-height: 47rem;
  display: flex;
  flex-direction: column;
  h2,
  h4 {
    margin: 0rem;
  }
  img {
    align-self: flex-start;
    margin: auto;
  }
}
//pagination
.containerClassName {
  margin: 1rem 0 0.75rem 3rem;
  padding: 0;
  display: flex;
  align-items: center;
  //background-color: rgb(66, 66, 248);
  list-style: none;
  li {
    a {
      background-color: rgba(240, 239, 239, 0.562);
      cursor: pointer;
      margin: 0.1rem;
      padding: 0.2rem 0.3rem;
      border: 1px solid black;
      border-radius: 3px;
    }
    a:hover {
      background-color: $PinkLeaf;
      box-shadow: 0.03rem 0.03rem 0.03rem 0.03rem rgba(9, 28, 70, 0.938);
    }
  }
  .activeClassName {
    a,
    a:hover {
      color: rgb(220, 250, 233);
      background-color: rgba(2, 80, 168, 0.959);
      box-shadow: 0.03rem 0.03rem 0.03rem 0.03rem rgba(9, 28, 70, 0.938);
    }
  }
}
