.scroll {
  position: fixed;
  opacity: 0.5;
  background-color: rgb(177, 255, 255);
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(9, 28, 70, 0.938);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
